<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>
    <context-param>
        <param-name>roadmap-location</param-name>
        <param-value>WEB-INF/roadmap.txt</param-value>
    </context-param>
    <context-param>
        <param-name>authenticationList-location</param-name>
        <param-value>WEB-INF/authenticationList.txt</param-value>
    </context-param>
    <filter>
        <filter-name>DispatcherFilter</filter-name>
        <filter-class>kylq.filter.DispatcherFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>kylq.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DispatcherFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>kylq.listener.ContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>AccountDeleteServlet</servlet-name>
        <servlet-class>kylq.controller.AccountDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountEditConfirmServlet</servlet-name>
        <servlet-class>kylq.controller.AccountEditConfirmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountEditServlet</servlet-name>
        <servlet-class>kylq.controller.AccountEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountEditUpdateServlet</servlet-name>
        <servlet-class>kylq.controller.AccountEditUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountSearchServlet</servlet-name>
        <servlet-class>kylq.controller.AccountSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountUpdateServlet</servlet-name>
        <servlet-class>kylq.controller.AccountUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthAutoLoginServlet</servlet-name>
        <servlet-class>kylq.controller.AuthAutoLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthLoginServlet</servlet-name>
        <servlet-class>kylq.controller.AuthLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthLogoutServlet</servlet-name>
        <servlet-class>kylq.controller.AuthLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthRegisterServlet</servlet-name>
        <servlet-class>kylq.controller.AuthRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartCheckoutServlet</servlet-name>
        <servlet-class>kylq.controller.CartCheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartRemoveItemsServlet</servlet-name>
        <servlet-class>kylq.controller.CartRemoveItemsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopAddToCartServlet</servlet-name>
        <servlet-class>kylq.controller.ShopAddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopLoadServlet</servlet-name>
        <servlet-class>kylq.controller.ShopLoadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountDeleteServlet</servlet-name>
        <url-pattern>/AccountDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountEditConfirmServlet</servlet-name>
        <url-pattern>/AccountEditConfirmServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountEditServlet</servlet-name>
        <url-pattern>/AccountEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountEditUpdateServlet</servlet-name>
        <url-pattern>/AccountEditUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountSearchServlet</servlet-name>
        <url-pattern>/AccountSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountUpdateServlet</servlet-name>
        <url-pattern>/AccountUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthAutoLoginServlet</servlet-name>
        <url-pattern>/AuthAutoLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthLoginServlet</servlet-name>
        <url-pattern>/AuthLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthLogoutServlet</servlet-name>
        <url-pattern>/AuthLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthRegisterServlet</servlet-name>
        <url-pattern>/AuthRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartCheckoutServlet</servlet-name>
        <url-pattern>/CartCheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartRemoveItemsServlet</servlet-name>
        <url-pattern>/CartRemoveItemsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopAddToCartServlet</servlet-name>
        <url-pattern>/ShopAddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopLoadServlet</servlet-name>
        <url-pattern>/ShopLoadServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
